<section class="bg-color">
<div class="container">
   <div class="title">
    <p>The Best Seller</p>
    <h1><span>Best</span> Seller</h1>
   </div>
   <div class="row">
      <div class="col-md-3">
         <div class="card">
            <div class="card-main">
               <div class="dicount">9%</div>
            <div class="label label-green">Pre-order</div>
            <div class="product-container">
               <div class="p"><img src="../assets/1.jpg" alt="Product"></div>
               <div class="p"><img src="../assets/2.jpg" alt="Product"></div>
               <div class="p"><img src="../assets/3.jpg" alt="Product"></div>
            </div>
            <div class="image">
               <img src="../assets/1.jpg" alt="image">
            </div>
         </div>
         <div class="cart-line"></div>
         <div class="cart-item">
            <ul>
               <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
               <li><a href=""><i class="fa fa-heart"></i></a></li>
               <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
         </div>
            </div>
            
      </div>
   </div>
  </div> 
</section>